

html {
    font-size: 4px;
}

@media only screen and (min-width: 48em) {
    html {
        font-size: 16px;
    }
}
.background-calculator {
    background: #F7F7F7;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    width: 888px;
    min-width: 320px;
    margin:0 auto;
}

.themo-calculator .header {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-left: 3rem;
    margin-top: 2.5rem;
}

.rooms-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
    margin-left: 3rem;
    margin-top: 38px;
}

.themo-calculator p {
    margin: 0px;
}

.room-name  {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #696A6D;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.room-W-m2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8C8E90;
    margin-bottom: 0.625rem;
}

.rooms-entry-row {
    padding-top: 0px;
    padding-right: 4rem;
    padding-left: 1rem;
}

.themo-calculator .room-entry-box-outer {
    padding-left: 0px;
    padding-right: 0px;
}

.room-selected {
    background: #E6E6FA;
    border: 1px solid #5C4FA1;
}


.room-W-m2-selected {
    color: #6BC38F;
}

.room-entry-box-inner {
    border: 1px solid #C4C4C4;
    margin-left: 2.75rem;
    margin-top: 2.375rem;
}

.room-entry-box-inner:hover {
    background: #F6F5FF;
    border: 1px solid #5C4FA1;
}

.room-entry-box-inner:hover .room-W-m2  {
    color: #6BC38F;
}

.room-entry-box-inner-top   {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-bottom: 0.5px solid #696A6D;
}

.room-image {
    margin-top: 0px;
}

.themo-calculator input::-webkit-outer-spin-button,
.themo-calculator input::-webkit-inner-spin-button   {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.themo-calculator input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.themo-calculator span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.themo-calculator .minus-button   {
    color: #5C4FA1;
    font-size: 36px;
    line-height: 39px;
    padding-right: 0px;
    padding-left: 4px;
    text-align: center;
}

.themo-calculator .plus-button    {
    color: #5C4FA1;
    font-size: 36px;
    line-height: 42px;
    padding-right: 4px;
    padding-left: 0px;
    text-align: center;
}

.themo-calculator .count-number   {
    color: #5C4FA1;
    font-size: 36px;
    line-height: 42px;
    padding: 0px;
}

.themo-calculator input:disabled {
    background-color: transparent;
}

.themo-calculator .count:disabled {
    border: 0;
    text-align: center;
    color: #5C4FA1;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 44px;
    padding: 0px;
}

/*For chrome:*/

.themo-calculator input[type=range]{
    -webkit-appearance: none;
    outline: 0px;
    padding: 0px;
}

.themo-calculator input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #8A8A8A;
    border: none;
    border-radius: 3px;
}

.themo-calculator input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #5C4FA1;
    margin-top: -12px;
    box-shadow: 0px 0px 7px #BEADE0;
}

/*For firefox:*/

/*input[type=range]{*/
/*    !* fix for FF unable to apply focus style bug  *!*/
/*    border: 1px solid white;*/

/*    !*required for proper track sizing in FF*!*/
/*    width: 300px;*/
/*}*/

.themo-calculator input[type=range]::-moz-range-track {

    height: 4px;
    background: #8A8A8A;
    border: none;
    border-radius: 3px;
}

.themo-calculator input[type=range]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #5C4FA1;
    margin-top: -12px;
    box-shadow: 0px 0px 7px #BEADE0;
}

/*input[type=range]:-moz-focusring{*/
/*    outline: 1px solid white;*/
/*    outline-offset: -1px;*/
/*}*/

.themo-calculator .floor-space-box  {
    margin-top: 35px;
    margin-right: 3.6875rem;
    margin-left: 3.125rem;
    border-top: 0.5px solid #696A6D;
    border-bottom: 0.5px solid #696A6D;

}

.floor-space-box-left-inside  {
    margin-right: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.km2, .kkm2    {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
    color: #404040;
}

.themo-calculator .floor-space-box-right-inside  {
    padding-left: 5px;

}

.themo-calculator .floor-space-box-right {
    margin-bottom: 1.25rem;
}

.floor-space-box-right-background   {
    background-image: url("resources/base.png");
    background-position:center;
    background-size: 372px;
    width: 100%;
    margin-right: 10px;
}

#floorspace-no {
    background: transparent;
    border: none;
    font-size: 48px;
    text-align: right;
    font-family: Roboto, sans-serif;
    line-height: 56px;
    font-style: normal;
    font-weight: bold;
    color: #8ACDA2;
    height: 150px;
}

.floor-space-box-first-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.floor-space-box-second-row {
    margin-bottom: 1.25rem;
}

.themo-calculator .floorspace-range-row {
    margin-left: 20px;
    margin-right: 20px;
}

.floorspace-calc{
    padding: 0px;
    background: transparent;
}

.themo-calculator .floorspace-no-class {
    background: transparent;
    border: none;
    font-size: 48px;
    text-align: left;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #8ACDA2;
    line-height: 120px;
    height: 150px;
    padding-right: 0px;
}

.themo-calculator .floorspace-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}

.themo-calculator .consumption-box  {
    margin-top: 38px;
    margin-right: 3.6875rem;
    margin-left: 3.125rem;
    border-bottom: 0.5px solid #696A6D;
}

.consumption-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #404040;
}

.consumption-calc {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
    text-align: right;
    margin-top: 20px;
}

@media only screen and (min-width: 48em)    {
    .consumption-calc {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #404040;
        text-align: left;
        margin-top: 0px;
    }
}

.cost-box-first-row {
    margin-bottom: 30px;
}

.cost-box-second-row {
    margin-bottom: 20px;
    text-align: left;
}

.cost-box-third-row {
    margin-bottom: 30px;
}

.cost-box-third-row-right {
    text-align: left;
}

.themo-calculator .savings-box {
    margin-top: 38px;
    margin-right: 3.6875rem;
    margin-left: 3.125rem;
    border-bottom: 0.5px solid #696A6D;
}

.savings-box-first-row {
    margin-bottom: 5px;
}

.savings-box-second-row {
    margin-bottom: 5px;
    text-align: left;
}

.savings-box-third-row {
    margin-bottom: 30px;
    margin-top: 20px;
}

@media only screen and (min-width: 48em) {
    .savings-box-third-row {
        margin-bottom: 30px;
        margin-top: 0px;
    }
}

.savings-box-fourth-row {
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 1px;
    text-align: justify;
}

@media only screen and (min-width: 48em) {
    .savings-box-fourth-row {
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 4px;
    }
}

.savings-text   {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
}
.savings-calc   {
     font-family: 'Poppins', sans-serif;
     font-size: 36px;
     line-height: 44px;
     color: #8ACDA2;
     background: transparent;
    text-align: right;
    margin-top: 20px;
 }

@media only screen and (min-width: 48em) {
    .savings-calc   {
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        line-height: 44px;
        color: #8ACDA2;
        background: transparent;
        text-align: left;
        margin-top: 0px;
    }
}

.spot-price {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #696A6D;
}

.year-price-text    {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-right: 97px;
    color: #404040;
    text-align: left;
}

@media only screen and (min-width: 48em)   {
    .year-price-text    {
        text-align: right;
    }
}
.year-price-calc    {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
    text-align: right;
    margin-top: 20px;
}

@media only screen and (min-width: 48em)    {
    .year-price-calc    {
        text-align: left;
        margin-top: 20px;
    }
}

.tariffs-label  {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8A8A8A;
}

.themo-calculator .tarffs-text-right {
    padding-left: 20px;
}

input[type=checkbox]    {
    background: #F5F5F5;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
}

.carbon-calc    {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 22px;
    background: transparent;
    color: #8ACDA2;
    text-align: right;
}

@media only screen and (min-width: 48em) {
    .carbon-calc    {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 22px;
        background: transparent;
        color: #8ACDA2;
        text-align: left;
    }
}

.source-text    {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #BBBBBB;
    background: transparent;
}

.themo-calculator .themos-box {
    margin-top: 38px;
    margin-right: 3.6875rem;
    margin-left: 3.125rem;
}

.themos-box-first-row   {
    margin-bottom: 40px;
}

.themos-box-second-row   {
    margin-bottom: 40px;
}

.themos-text    {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #404040;
    text-align: left;
}

@media only screen and (min-width: 48em) {
    .themos-text    {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #404040;
        text-align: right;
    }
}

.themos-calc    {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 55px;
    color: #404040;
    text-align: center;

}

@media only screen and (min-width: 48em) {
    .themos-calc    {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #404040;
        text-align: center;
    }
}

.payback-text   {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
    text-align: left;
}

@media only screen and (min-width: 48em) {
    .payback-text   {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #404040;
        text-align: right;
    }
}

.payback-calc   {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #404040;
    text-align: center;
}


